* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.main {
    max-width: 320px;
}

.day-month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#error-message {
    display: none;
    position: absolute;
    top: 9rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 0.6em;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

#error-message.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    25% { transform: translate(-50%, -50%) rotate(10deg); }
    50% { transform: translate(-50%, -50%) rotate(-10deg); }
    75% { transform: translate(-50%, -50%) rotate(10deg); }
    100% { transform: translate(-50%, -50%) rotate(-10deg); }
}

.phone-details {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
}

#country-code {
    flex: 30%;
}

label, p {
    font-weight: 700;
}

@media (max-width: 400px) {
    #error-message {
        top: 2.5rem;
        width: 280px;
        padding: 0.4em;
    }

    .container {
        padding: 0 1.2rem;
    }

    .form-select {
        padding-right: 0.5rem;
        padding-left: .1875rem;
    }
}
